/* Root should be configurable */
:root { 
	font-family: system-ui;
	line-height: 1.5;
	font-weight: 400;
	color: var(--text-color);
	background-color: var(--bg-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html.theme-dark {
    --bg-color: #222;
    --text-color: #fff;
    
    --tag-color: #fff;
    --tag-color-hv: #a8a8a8;
    --tag-color-bg: #c5c5c5;
    
    --action-color: #00ff00;
    --danger-color: #ff0000;
}

html.theme-bright-orange {
    --bg-color: #ffffff;
    --text-color: #222;
    
    --tag-color: #f29d00;
    --tag-color-hv: #54401b45;
    --tag-color-bg: #dc9108c2;
    
    --action-color: #00ff00;
    --danger-color: #ff0000;
 
}

html.theme-bright-purple {
    --bg-color: #ffffff;
    --text-color: #222;
    
    --tag-color: #7F27FF;
    --tag-color-hv: #9F70FD;
    --tag-color-bg: #9F70FD;
    
    --action-color: #00ff00;
    --danger-color: #ff0000;
 
}

body {
  margin: 0;
}


div#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: antiquewhite;
}

/* Core Elements */

.block {
  box-sizing: border-box;
  max-width: 777px;
  padding: 24px;
  margin: 24px auto;
  border: 4px dotted var(--tag-color-bg);
  background-color: var(--bg-color);
}

a {
  color: var(--tag-color);
  text-decoration: none;
}

a:hover {
  border-bottom: 1px dashed;
}

button {
  font-weight: bold;
  cursor: pointer;
  color: inherit;
  background: transparent;
  border: 1px solid var(--text-color);
  border-radius: 4px;
}

button:active {
  /* color: var(--tag-color); */
  border: 1px solid var(--tag-color);

}
  
button.active {
  border-color: var(--action-color);
  color: var(--action-color);
}

button.danger {
  border-color: var(--danger-color);
  color: var(--danger-color);
}

/* Typo */
h1.centered,
h2.centered,
p.centered {
  text-align: center;
}

h1,h2,h3 {
  /* will need to find a better solution here... */
  margin-top: 0;
}

.small {
  font-size: 0.6em;
}

/* Modular Forms */
input.branded {
  background: transparent;
  color: var(--tag-color);
  border: 1px solid var(--tag-color);
  border-radius: 4px;
  
  min-width: 200px;
  font-size: 18px;
  width: 90%;
  padding: 8px;
}

input:focus{
  outline:none;
}

.form-errors {
  border: 1px solid red;
  width: 400px;
  padding: 10px;
  margin-bottom: 20px;
}

/* Helper Functions */
.mb8 {
  margin-bottom: 8px;
}
.mb16 {
  margin-bottom: 16px;
}
.mt8 {
  margin-top: 8px;
}
.mt16 {
  margin-top: 16px;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
