/* Root should be configurable */
:root { 
	font-family: system-ui;
	line-height: 1.5;
	font-weight: 400;
	color: var(--text-color);
	background-color: var(--primary-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html.theme-dark {
    --primary-color: #222;
    --text-color: #fff;
    --tag-color: #fff;
    --tag-color-hv: #222;
    --tag-color-bg: #222;
}

html.theme-bright-orange {
    --primary-color: #ffffff;
    --text-color: #222;
    --tag-color: #f29d00;
    --tag-color-hv: #ffa80959;
    --tag-color-bg: #ffb52f45;
 
}

html.theme-bright-purple {
    --primary-color: #ffffff;
    --text-color: #222;
    --tag-color: #7F27FF;
    --tag-color-hv: #9F70FD;
    --tag-color-bg: #9F70FD;
 
}

body {
  margin: 0;
}


div#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* Core Elements */
.page {
  margin: 24px auto 0;
  border: 1px solid var(--primary-color);
}

.block {
  margin: 18px 24px;
}

a {
  color: var(--tag-color);
  text-decoration: none;
}

a:hover {
  border-bottom: 1px dashed;
}

button {
  background: transparent;
  border: 1px solid var(--tag-color);
  color: var(--tag-color);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

/* Typo */
h1.centered,
h2.centered,
p.centered {
  text-align: center;
  color: var(--tag-color);
}

.small {
  font-size: 0.6em;
}

/* Modular Forms */
input.branded {
  background: transparent;
  color: var(--tag-color);
  border: 1px solid var(--tag-color);
  border-radius: 4px;
  
  min-width: 200px;
  font-size: 18px;
  width: 90%;
  padding: 8px;
}

input:focus{
  outline:none;
}

.form-errors {
  border: 1px solid red;
  width: 400px;
  padding: 10px;
  margin-bottom: 20px;
}

/* Helper Functions */
.mb8 {
  margin-bottom: 8px;
}
.mb16 {
  margin-bottom: 16px;
}
.mt8 {
  margin-top: 8px;
}
.mt16 {
  margin-top: 16px;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}






