.reader {
  max-width: 640px; /* TODO: adjustable width */
  margin: 0 auto 28px auto;
}

.form-input > label {
  display: inline-block;
  min-width: 100px;
}

.form-input > input {
  width: 56px;
}

.form-input {
  margin-bottom: 10px;
}
