
.newUrl {
	/* center horizontally */
	display: flex;
	justify-content: center;
	margin-top: 24px;
}

.newUrl input {
	width: 48em;
	height: 2em;
}



.reading-list {
	display: flex;
	flex-direction: column;
	max-width: 640px;

	/* Center self */
	margin: 28px auto;

	
}

.read-item {
	border: 1px solid whitesmoke;
	padding: 0px 20px 20px 20px;
	/* max-width: 490x; */
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	cursor: pointer;
}

.read-item:hover {
	border: 1px solid #d6d2d2;
	box-shadow: 0 25px 50px -12px #673ab888;
}

.read-item__right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 24px;
}

.read-item__right .tags {

}

.read-item__right .tags span {
	display: block;
	/* attach # symbol before the span text */
	content: "#" attr(data-tag);
	font-size: 0.8em;

}

.read-item__right .datetime {

	font-size: 0.6em;
}


/* .resource:hover {
	border: 1px solid #000;
	box-shadow: 0 25px 50px -12px #673ab888;
} */

/* @media (max-width: 639px) {
	.home section {
		margin-top: 5rem;
		grid-template-columns: 1fr;
		row-gap: 1rem;
	}
} */

/* @media (prefers-color-scheme: dark) {
	.resource {
		color: #ccc;
		background-color: #161616;
	}
	.resource:hover {
		border: 1px solid #bbb;
	}
} */
