/* Root should be configurable */
:root {
  font-family: system-ui;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


html {
  --show-help-display: none;
}

html {
  --bg-color: #ffffff;
  --tag-color-bg: #00000002;

  --text-color: #222;
  --tag-color-select: #e1e1e1;
  --tag-color-hv: #e1e1e1;
  --tag-color-border: #e1e1e1;
  
  --tag-color: #ce9a3a;
  --action-color: #00ff00;
  --danger-color: #ff0000;
}

html.isDark {
  --bg-color: #040405;
  --text-color: #EEEEDCFF;

  --tag-color: #040405;
  --tag-color-select: #AAAAFF44;
  --tag-color-text: var(--text-color);
  --tag-color-border: #CCCCFF33;
  --tag-color-hv: #AAAAFF44;
  --tag-color-bg: #AAAAFF09;

  --action-color: #73F5A4;
  --danger-color: #F57A73;
}

*::selection {
  background-color: var(--tag-color-select); 
}


/* Core Elements */
body {
  margin: 0;
  color: var(--tag-color-text);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.with-perspective {
  max-width: 540px;
  border: 1px solid var(--tag-color-border);
  margin: 20px auto;
  min-height: 250px;
}

main {
  flex: 1;
  background-color: var(--bg-color);
}

.block {
  box-sizing: border-box;
  max-width: 777px;
  width: 90%;
  padding: 12px;
  margin: 24px auto;
  border: 1px solid var(--tag-color-border);
  background-color: var(--tag-color-bg);
}

.nested-block {
  border: 1px solid var(--tag-color-border);
  padding: 8px 12px;
  margin-bottom: 16px;
}

.help {
  display: var(--show-help-display);
}

/* Typography */
h1,
h2,
h3 {
  /* will need to find a better solution here... */
  margin-top: 0; 
  margin-bottom: 8px;
}

.small {
  font-size: 0.6em;
}

a {
  color: var(--tag-color-text);
  text-decoration: none;
}

a:hover {
  border-bottom: 1px dashed;
}

button {
  cursor: pointer;
  color: var(--text-color);
  background: transparent;
  border: 1px solid var(--tag-color-border);
  border-radius: 4px;
  padding: 4px 8px;
}

button:active,
button:hover {
  border: 1px solid var(--tag-color-hv);
}

button.active {
  border-color: var(--action-color);
  color: var(--action-color);
}

button.danger {
  border-color: var(--danger-color);
  color: var(--danger-color);
}

/* Input fields */
input[type="text"],
input[type="password"]{
  background: transparent;
  color: var(--text-color);
  border: 1px solid var(--tag-color-border);
  border-radius: 4px;
  padding: 4px 8px;
}

input[type="text"]:focus {
  border: 1px solid var(--tag-color-hv);
  /* background: var(--bg-color); */
}

input:focus {
  outline: none;
}

textarea {
  background: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

.ql-container.ql-snow {
  border-radius: 4px;
  border-color: var(--tag-color-border);
}

.ql-container {
  font-family: inherit;
  font-size: inherit;
}

.form-errors {
  border: 1px solid red;
  width: 400px;
  padding: 10px;
  margin-bottom: 20px;
}

/* Header Component */
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--tag-color-bg);
  border-bottom: 1px solid var(--tag-color-border);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

header .logo {
  display: flex;
  padding: 0 0.75rem;
  font-size: 24px;
}

header nav {
  display: flex;
}

header a {
  color: var(--text-color);
  padding: 0.75rem;
}

header a.active {
  background-color: var(--tag-color-bg);
}

header a:hover {
  background-color: var(--tag-color-hv);
  border-bottom: none;
}

/* Footer Component */
.footer {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid var(--tag-color-border);
  background-color: var(--tag-color-bg);
  color: var(--text-color);
}

.footer a {
  color: var(--text-color);
  border-bottom: 1px solid var(--tag-color-border);
}


