/* Root should be configurable */
:root {
  font-family: system-ui;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html.theme-dark {
  --bg-color: #040405;
  --text-color: #EEEEDCFF;

  --tag-color: #040405;
  --tag-color-select: #AAAAFF44;
  --tag-color-text: var(--text-color);
  --tag-color-border: #CCCCFF33;
  --tag-color-hv: #AAAAFF44;
  --tag-color-bg: #AAAAFF09;

  --action-color: #73F5A4;
  --danger-color: #F57A73;
}

html.theme-light {
  --bg-color: #ffffff;
  --tag-color-bg: #00000002;

  --text-color: #222;

  --tag-color-select: #e1e1e1;
  --tag-color-hv: #e1e1e1;
  --tag-color-border: #e1e1e1;
  
  --tag-color: #ce9a3a;
  --action-color: #00ff00;
  --danger-color: #ff0000;
}

html.theme-purple {
  --bg-color: #ffffff;
  --text-color: #222;

  --tag-color: #a077dd;
  --tag-color-hv: #a88be3;
  --tag-color-bg: #3f09ff1a;

  --action-color: #00ff00;
  --danger-color: #ff0000;
}

html {
  --show-help-display: none;
}

*::selection {
  background-color: var(--tag-color-select); 
}

body {
  margin: 0;
  color: var(--tag-color-text);
}

body.with-perspective {
  max-width: 540px;
  border: 1px solid var(--tag-color-border);
  margin: 20px auto;
}

div#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: var(--bg-color);
}

/* Core Elements */

.block {
  box-sizing: border-box;
  max-width: 777px;
  padding: 24px;
  margin: 24px auto;
  border: 1px solid var(--tag-color-border);
  background-color: var(--tag-color-bg);
}

.nested-block {
  border: 1px solid var(--tag-color-border);
  padding: 8px 12px;
  margin-bottom: 16px;
}

a {
  color: var(--tag-color-text);
  text-decoration: none;
}

a:hover {
  border-bottom: 1px dashed;
}


button {
  cursor: pointer;
  color: var(--text-color);
  background: transparent;
  border: 1px solid var(--tag-color-border);
  border-radius: 4px;
  padding: 4px 8px;
}

button:active,
button:hover {
  border: 1px solid var(--tag-color-hv);
}

button.active {
  border-color: var(--action-color);
  color: var(--action-color);
}

button.danger {
  border-color: var(--danger-color);
  color: var(--danger-color);
}

/* Typo */
h1.centered,
h2.centered,
p.centered {
  text-align: center;
}

h1,
h2,
h3 {
  /* will need to find a better solution here... */
  margin-top: 0;
}

.small {
  font-size: 0.6em;
}

/* Modular Forms */
input.branded {
  background: transparent;
  color: var(--tag-color-text);
  border: 1px solid var(--tag-color-border);
  border-radius: 4px;

  min-width: 200px;
  font-size: 18px;
  width: 90%;
  padding: 8px;
}

input:focus {
  outline: none;
}

.form-errors {
  border: 1px solid red;
  width: 400px;
  padding: 10px;
  margin-bottom: 20px;
}

/* Helper Functions */
.mb8 {
  margin-bottom: 8px;
}
.mb16 {
  margin-bottom: 16px;
}
.mt8 {
  margin-top: 8px;
}
.mt16 {
  margin-top: 16px;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}

/* Toast */
.toast {
  background-color: var(--text-color);
  color: var(--text-color);
  position: absolute;
  padding: 5px;
  border-radius: 2px;
  min-width: 100px;
  text-align:center;
  left: 45%;
  top: 45%;
  visibility: hidden;
}

.toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

@keyframe fadein {
  from {opacity: 1}
  to {opacity: 1}
}

.help {
  display: var(--show-help-display);
}


/* hacking ahead */
.highlighter-actions {
  position: absolute;
  display: none;
  background-color: var(--bg-color);
}
/* KID helper (keep/improve/delete) */
.floater {
  position: absolute;
  position: fixed;
  left: 20px;
  bottom: 20px;
}

/* Textarea */
.ql-container.ql-snow {
  border-radius: 4px;
  border-color: var(--tag-color-border);
}

.ql-container {
  font-family: inherit;
  font-size: inherit;
}

/* Banner */
.banner {
  margin: 12px auto;
  display: none; /* Distracting ... */
}

/* Header Component */
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--tag-color-bg);
  border-bottom: 1px solid var(--tag-color-border);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

header .logo {
  display: flex;
  padding: 0 0.75rem;
  font-size: 24px;
}

header nav {
  display: flex;
}

header a {
  color: var(--text-color);
  padding: 0.75rem;
}

header a.active {
  background-color: var(--tag-color-bg);
}

header a:hover {
  background-color: var(--tag-color-hv);
  border-bottom: none;
}

/* Footer Component */
.footer {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid var(--tag-color-border);
  background-color: var(--tag-color-bg);
  color: var(--text-color);
}

.footer a {
  color: var(--text-color);
  border-bottom: 1px solid var(--tag-color-border);
}

/* Move to a separate file  */
.stream-response {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid green;
}

.stream > button {
  margin-top: 10px;
}

.stream > textarea {
  min-height: 40px;
}

/* Library */

input[type="text"],
input[type="password"]{
  background: transparent;
  color: var(--text-color);
  border: 1px solid var(--tag-color-border);
  border-radius: 4px;
  padding: 4px 8px;
}

input[type="text"]:focus {
  border: 1px solid var(--tag-color-hv);
  /* background: var(--bg-color); */
}

textarea {
  background: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

.lib-item {
  cursor: pointer;
  border: 1px solid var(--tag-color-border);
  border-radius: 2px;
  padding: 4px 8px;
  margin-bottom: 12px;
  /* display: flex;
  justify-content: space-between; */
}

.lib-item:hover {
   border: 1px solid var(--tag-color-hv); 
   /* background-color: var(--bg-color); */
   /* box-shadow: -1px -2px 12px 1px var(--tag-color-bg); */
}

.lib-item__right .tags span {
  display: block;
  /* attach # symbol before the span text */
  content: "#" attr(data-tag);
  font-size: 0.8em;
}
